.body-cadastro {
    align-items: center !important;
    background-color: rgb(37, 87, 137);
}

.main-cadastro {
    align-items: center !important;
}

form {
    border-radius: 20px;
    margin: 0 auto;
    padding: 3em;
    width: 60%;
    background-color: #ffffff;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.btn-cadastrar {
    font-weight: 500;
    border-radius: 20px;
    border: 3px solid rgb(37, 87, 137);
    margin-top: 1em;
    background-color: rgb(37, 87, 137);
    transition: all .3s ease-in-out;
}

.btn-cadastrar:hover {
    color: rgb(37, 87, 137);
    background-color: rgb(255, 255, 255);
}

input:focus {
    background-color: #e4e4e4;
}

/* Index */

main {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: start;
}

.body-index {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: start;
}

.title-index {
    text-align: center;
    padding: 1em 0;
}

a.link-cadastro {
    font-weight: 500;
    text-decoration: none;
    position: fixed;
    z-index: 1001;
    padding: 10px;
    right: 1.5em;
    bottom: 1.5em;
    background-color: rgb(37, 87, 137);
    border: 3px solid rgb(37, 87, 137);
    color: #FFF;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

a.link-cadastro:hover {
    background-color: #FFF;
    color: rgb(37, 87, 137);
}